backend/model/similarity.pkl
backend/model/movie_recommender_dict.pkl
backend/model/movie_recommender.pkl

*.venv
*.pyc
*.log
*.db
*.sqlite3
*.pyo
*.pyc
.venv/
*.pkl
*.pickle

# Node.js
node_modules/
.env
package-lock.json

# Python
venv/
__pycache__/

# Build files
build/
dist/
.cache/
.next/

# Logs
*.log

# CSV / Large files (optional)
*.csv
database.sqlite

